<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{pruebas/fragmentos :: categoriasTabs}"/>
        <section th:replace="~{pruebas/fragmentos :: listadoProductos}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>       
    </body>
</html>


<!-- 3 Sección principal para mostrar la informaccion de la entidad producto -->​
        <section th:fragment="listadoProductos" id="productos">​
            <div class="container">​
                <div class="row">​
                    <div class="col-md-10">​
                        <div class="card">​
                            <div class="card-header">​
                                <h4>[[#{producto.listado}]]</h4></div>​
                            <div th:if="${productos != null and !productos.empty}" >​
                                <table class="table table-striped table-hover fs-6">​
                                    <thead class="table-dark">​
                                        <tr><th>#</th>​
                                            <th class="text-center">[[#{producto.descripcion}]]</th>​
                                            <th class="text-center">[[#{producto.precio}]]</th>​
                                            <th class="text-center">[[#{producto.existencias}]]</th>​
                                            <th class="text-center">[[#{producto.total}]]</th>​
                                            <th class="text-center">[[#{producto.activo}]]</th>​
                                            <th class="text-center">[[#{producto.categoria}]]</th>​
                                            <th></th><th></th></tr>​
                                    </thead>​
                                    <tbody>​
                                        <tr th:each="producto, contador : ${productos}">​
                                            <td class="text-center">[[${contador.count}]]</td>​
                                            <td class="fs-6">[[${producto.descripcion}]]</td>​
                                        <td class="text-end">[[${#numbers.formatDecimal(producto.precio, 1, 'DEFAULT', 2, 'DEFAULT')}]]</td>​
                                            <td class="text-center">[[${producto.existencias}]]</td>​
                                            <td class="text-end">[[${#numbers.formatDecimal(producto.precio*producto.existencias, 1, 'DEFAULT', 2, 'DEFAULT')}]]</td>​
             <td  class="text-center" th:text="${producto.activo} ? 'Activa' : 'Inactiva'"/>​
                                            <td>[[${producto.categoria.descripcion}]]</td>​
                                            <td><a th:href="@{/producto/eliminar/}+${producto.idProducto}"​
                                                   class="btn btn-danger">​
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a></td>​
                                            <td>​
                                                <a th:href="@{/producto/modificar/}+${producto.idProducto}"​
                                                   class="btn btn-success">​
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>​
                                    </tbody>​
                                </table>​
                            </div>​
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">​
                                <span>[[#{lista.vacia}]]</span>​
                            </div>​
                        </div>​
                    </div>​
                    <div class="col-md-2">​
                        <div class="card text-center bg-success text-white mb-3">​
                            <div class="card-body">​
                                <h3>[[#{producto.total}]]</h3>​
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalProductos}]]</h4>​
                            </div>​
                        </div>​
                    </div>​
                </div>​
            </div>​
        </section>​
        
<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.pruebas}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item"  th:href="@{/pruebas/listado}">[[#{plantilla.asociaciones}]]</a></li>
                                </ul>
                            </li>